.info_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(46, 46, 46, 0.2);
  height: 30px;
}

.info_values {
  display: flex;
  align-items: center;
}

.info_title {
  font-size: 14px;
  width: 200px;
}

.info_value {
  font-size: 16px;
}

.info_ico {
  height: 20px;
  width: 20px;
  margin-left: 8px;
}

.update_input {
  border: none;
  border-bottom: 2px solid #5f962c;
  border-radius: 3px;
  outline: none;
  font-size: 18px;
}

.update_btn {
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  background-color: #C0BFBF;
  cursor: pointer;
  font-size: 16px;
  &:hover {
    color: #5f962c;
  }
}
