.info_values {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(46, 46, 46, 0.2);

  @media (max-width: 480px) {
    flex-direction: column;
    gap: 15px;
  }
}

.info_title {
  font-size: 14px;
  width: 100px;

  @media (max-width: 480px) {
    width: fit-content;
  }
}

.info_value {
  font-size: 16px;
}

.info_ico {
  height: 20px;
  width: 20px;
  margin-left: 8px;
}

.update_input {
  border: none;
  border-bottom: 2px solid #5f962c;
  border-radius: 3px;
  outline: none;
  font-size: 18px;
  min-width: 240px;

  @media (max-width: 768px) {
    min-width: 150px;
  }
  @media (max-width: 480px) {
    max-width: 160px;
  }
}

.update_btn {
  display: flex;
  align-items: flex-end;
  border: none;
  outline: none;
  background-color: #C0BFBF;
  cursor: pointer;
  font-size: 16px;
  &:hover {
    color: #5f962c;
  }
}
